In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from typing import Dict
import pickle as pk

In [2]:
df_cleaned = pd.read_csv('../data/cleaned_data.csv')

 
# Creating A Data Frame With Detailed Stats

### Calculating Points Secured In Each MatchWeek

In [3]:
teams = sorted(df_cleaned['HomeTeam'].unique())
team_stats_detailed: Dict[str, pd.DataFrame] = {}
for team in teams:
    team_df = df_cleaned[(df_cleaned['HomeTeam'] == team) | (df_cleaned['AwayTeam'] == team)].copy()
    
    #using matchweek as index
    team_df.index = np.arange(1, len(team_df) + 1)
    team_df.index.name = "MatchWeek"        
    
    #calculation of points based on results
    current = 0
    points = []
    total_points = []
    for _, row in team_df.iterrows():
        if row['HomeTeam'] == team:  # Team played at home
            if row['FTR'] == 'H':
                points.append(3)
            elif row['FTR'] == 'D':
                points.append(1)
            else:
                points.append(0)
        else:  # Team played away
            if row['FTR'] == 'A':
                points.append(3)
            elif row['FTR'] == 'D':
                points.append(1)
            else:
                points.append(0)
    
    team_df['Points'] = points
    for num in points:
        current += num
        total_points.append(current)

    team_df['TotalPoints'] = total_points
    team_stats_detailed[team] = team_df

### Calculating goals scored, conceded and goal difference

In [4]:
#Calculating goals for, goals away and goal difference
for team in team_stats_detailed:
    df = team_stats_detailed[team].copy()
    goals_for, goals_against, gd = [], [], []
    t1, t2, t3 = 0, 0, 0
    for _, row in df.iterrows():
        if(row['HomeTeam'] == team):
            t1 += row['FTHG']
            t2 += row['FTAG']
            t3 = t1 - t2
            goals_for.append(t1)
            goals_against.append(t2)
            gd.append(t3)
        else:
            t1 += row['FTAG']
            t2 += row['FTHG']
            t3 = t1 - t2
            goals_for.append(t1)
            goals_against.append(t2)
            gd.append(t3)
    df.loc[:, 'GF'] = goals_for
    df.loc[:, 'GA'] = goals_against
    df.loc[:, 'GD'] = gd

    team_stats_detailed[team] = df

In [5]:
#saving the dictionary 
with open('../data/team_stats_detailed.pkl', 'wb') as f:
    pk.dump(team_stats_detailed, f)

 
# Creating A Data Frame With a Few Stats
### Contains only date, home/away team, goals and result

In [6]:
#creating the data frame with simple view
team_data_simple: Dict[str, pd.DataFrame] = {}
for team in team_stats_detailed:
    df = team_stats_detailed[team][['Date', 'HomeTeam', 'AwayTeam']].copy()

    result = []
    for _, row in team_stats_detailed[team].iterrows():
        res = f"{row['FTHG']}-{row['FTAG']}"   
        result.append(res)

    df['Final Score'] = result
    team_data_simple[team] = df

#### Gets The Table(detailed/simple) For A Team Based On Team Entered By User

In [7]:
def get_team_data(team : str, simple_view: bool):
    if(simple_view):
        return team_data_simple[team]
    
    return team_stats_detailed[team]

#### Displaying A Simple Table For A Team

In [8]:
#Simple table
df_team_req = get_team_data('Man City', True)  #Example Man City
df_team_req

                 Date        HomeTeam        AwayTeam Final Score
MatchWeek
1          2024-08-18         Chelsea        Man City         0-2
2          2024-08-24        Man City         Ipswich         4-1
3          2024-08-31        West Ham        Man City         1-3
4          2024-09-14        Man City       Brentford         2-1
5          2024-09-22        Man City         Arsenal         2-2
6          2024-09-28       Newcastle        Man City         1-1
7          2024-10-05        Man City          Fulham         3-2
8          2024-10-20          Wolves        Man City         1-2
9          2024-10-26        Man City     Southampton         1-0
10         2024-11-02     Bournemouth        Man City         2-1
11         2024-11-09        Brighton        Man City         2-1
12         2024-11-23        Man City       Tottenham         0-4
13         2024-12-01       Liverpool        Man City         2-0
14         2024-12-04        Man City   Nott'm Forest         3-0
15         2024-12-07  Crystal Palace        Man City         2-2
16         2024-12-15        Man City      Man United         1-2
17         2024-12-21     Aston Villa        Man City         2-1
18         2024-12-26        Man City         Everton         1-1
19         2024-12-29       Leicester        Man City         0-2
20         2025-01-04        Man City        West Ham         4-1
21         2025-01-14       Brentford        Man City         2-2
22         2025-01-19         Ipswich        Man City         0-6
23         2025-01-25        Man City         Chelsea         3-1
24         2025-02-02         Arsenal        Man City         5-1
25         2025-02-15        Man City       Newcastle         4-0
26         2025-02-23        Man City       Liverpool         0-2
27         2025-02-26       Tottenham        Man City         0-1
28         2025-03-08   Nott'm Forest        Man City         1-0
29         2025-03-15        Man City        Brighton         2-2
30         2025-04-02        Man City       Leicester         2-0
31         2025-04-06      Man United        Man City         0-0
32         2025-04-12        Man City  Crystal Palace         5-2
33         2025-04-19         Everton        Man City         0-2
34         2025-04-22        Man City     Aston Villa         2-1
35         2025-05-02        Man City          Wolves         1-0
36         2025-05-10     Southampton        Man City         0-0
37         2025-05-20        Man City     Bournemouth         3-1
38         2025-05-25          Fulham        Man City         0-2

#### Displaying A Detailed Table For A Team

In [9]:
#Detailed table
df_team_req = get_team_data('Arsenal', False)  #Example Arsenal
df_team_req

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AC,HY,AY,HR,AR,Points,TotalPoints,GF,GA,GD
MatchWeek,,,,,,,,,,,,,,,,,,,,,
1,2024-08-17,Arsenal,Wolves,2,0,H,1,0,H,J Gillett,...,2,2,2,0,0,3,3,2,0,2
2,2024-08-24,Aston Villa,Arsenal,0,2,A,0,0,D,M Oliver,...,1,1,3,0,0,3,6,4,0,4
3,2024-08-31,Arsenal,Brighton,1,1,D,1,0,H,C Kavanagh,...,7,3,2,1,0,1,7,5,1,4
4,2024-09-15,Tottenham,Arsenal,0,1,A,0,0,D,J Gillett,...,6,5,3,0,0,3,10,6,1,5
5,2024-09-22,Man City,Arsenal,2,2,D,1,2,A,M Oliver,...,2,3,4,0,1,1,11,8,3,5
6,2024-09-28,Arsenal,Leicester,4,2,H,2,0,H,S Barrott,...,0,2,4,0,0,3,14,12,5,7
7,2024-10-05,Arsenal,Southampton,3,1,H,0,0,D,T Harrington,...,1,0,3,0,0,3,17,15,6,9
8,2024-10-19,Bournemouth,Arsenal,2,0,H,0,0,D,R Jones,...,4,1,1,0,1,0,17,15,8,7
9,2024-10-27,Arsenal,Liverpool,2,2,D,2,1,H,A Taylor,...,3,2,2,0,0,1,18,17,10,7
10,2024-11-02,Newcastle,Arsenal,1,0,H,1,0,H,J Brooks,...,6,4,4,0,0,0,18,17,11,6
11,2024-11-10,Chelsea,Arsenal,1,1,D,0,0,D,M Oliver,...,3,4,2,0,0,1,19,18,12,6
12,2024-11-23,Arsenal,Nott'm Forest,3,0,H,1,0,H,S Hooper,...,1,3,2,0,0,3,22,21,12,9
13,2024-11-30,West Ham,Arsenal,2,5,A,2,5,A,A Taylor,...,10,4,1,0,0,3,25,26,14,12
14,2024-12-04,Arsenal,Man United,2,0,H,0,0,D,S Barrott,...,0,1,3,0,0,3,28,28,14,14
15,2024-12-08,Fulham,Arsenal,1,1,D,1,0,H,C Kavanagh,...,6,4,2,0,0,1,29,29,15,14
16,2024-12-14,Arsenal,Everton,0,0,D,0,0,D,C Pawson,...,2,0,3,0,0,1,30,29,15,14
17,2024-12-21,Crystal Palace,Arsenal,1,5,A,1,3,A,S Hooper,...,3,2,2,0,0,3,33,34,16,18
18,2024-12-27,Arsenal,Ipswich,1,0,H,1,0,H,D England,...,1,1,1,0,0,3,36,35,16,19
19,2025-01-01,Brentford,Arsenal,1,3,A,1,1,D,P Bankes,...,3,1,2,0,0,3,39,38,17,21
20,2025-01-04,Brighton,Arsenal,1,1,D,0,1,A,A Taylor,...,5,2,3,0,0,1,40,39,18,21
21,2025-01-15,Arsenal,Tottenham,2,1,H,2,1,H,S Hooper,...,4,3,1,0,0,3,43,41,19,22
22,2025-01-18,Arsenal,Aston Villa,2,2,D,1,0,H,C Kavanagh,...,1,2,3,0,0,1,44,43,21,22
23,2025-01-25,Wolves,Arsenal,0,1,A,0,0,D,M Oliver,...,5,0,1,1,1,3,47,44,21,23
24,2025-02-02,Arsenal,Man City,5,1,H,1,0,H,P Bankes,...,2,2,0,0,0,3,50,49,22,27
25,2025-02-15,Leicester,Arsenal,0,2,A,0,0,D,S Barrott,...,7,2,1,0,0,3,53,51,22,29
26,2025-02-22,Arsenal,West Ham,0,1,A,0,1,A,C Pawson,...,0,1,3,1,0,0,53,51,23,28
27,2025-02-26,Nott'm Forest,Arsenal,0,0,D,0,0,D,A Madley,...,11,1,1,0,0,1,54,51,23,28
28,2025-03-09,Man United,Arsenal,1,1,D,1,0,H,A Taylor,...,9,0,1,0,0,1,55,52,24,28
29,2025-03-16,Arsenal,Chelsea,1,0,H,1,0,H,C Kavanagh,...,4,3,3,0,0,3,58,53,24,29
30,2025-04-01,Arsenal,Fulham,2,1,H,1,0,H,J Brooks,...,4,1,2,0,0,3,61,55,25,30
31,2025-04-05,Everton,Arsenal,1,1,D,0,1,A,D England,...,8,3,1,0,0,1,62,56,26,30
32,2025-04-12,Arsenal,Brentford,1,1,D,0,0,D,S Hooper,...,5,1,3,0,0,1,63,57,27,30
33,2025-04-20,Ipswich,Arsenal,0,4,A,0,2,A,C Kavanagh,...,12,0,0,1,0,3,66,61,27,34
34,2025-04-23,Arsenal,Crystal Palace,2,2,D,2,1,H,M Salisbury,...,6,1,1,0,0,1,67,63,29,34
35,2025-05-03,Arsenal,Bournemouth,1,2,A,1,0,H,J Gillett,...,3,0,2,0,0,0,67,64,31,33
36,2025-05-11,Liverpool,Arsenal,2,2,D,2,0,H,A Taylor,...,1,1,1,0,1,1,68,66,33,33
37,2025-05-18,Arsenal,Newcastle,1,0,H,0,0,D,S Hooper,...,7,3,3,0,0,3,71,67,33,34
38,2025-05-25,Southampton,Arsenal,1,2,A,0,1,A,D Bond,...,8,0,0,0,0,3,74,69,34,35

# Constructing the final league table

In [10]:
#constructing final league table 
league_table = []
for team in team_stats_detailed:
    df = team_stats_detailed[team].copy()
    tpc = df.loc[df.index.max(), 'TotalPoints']
    gfc = df.loc[df.index.max(), 'GF']
    gac = df.loc[df.index.max(), 'GA']
    gdc = df.loc[df.index.max(), 'GD']

    # Calculate wins, draws, defeats
    wins = ((df['Points'] == 3).sum())
    draws = ((df['Points'] == 1).sum())
    defeats = 38 - wins - draws

    league_table.append({
        'Team': team,
        'W': wins,
        'D': draws,
        'L': defeats,
        'Points': tpc,
        'GF': gfc,
        'GA': gac,
        'GD': gdc
    })

# Create DataFrame and sort by Points, GD, GF
df_table = pd.DataFrame(league_table)
df_table = df_table.sort_values(by=['Points', 'GD', 'GF'], ascending=False).reset_index(drop=True)
df_table['Pos'] = np.arange(1, len(df_table) + 1)
df_table.set_index('Pos', inplace= True)
df_table.to_csv('../data/Final League Table.csv')
df_table

               Team   W   D   L  Points  GF  GA  GD
Pos
1         Liverpool  25   9   4      84  86  41  45
2           Arsenal  20  14   4      74  69  34  35
3          Man City  21   8   9      71  72  44  28
4           Chelsea  20   9   9      69  64  43  21
5         Newcastle  20   6  12      66  68  47  21
6       Aston Villa  19   9  10      66  58  51   7
7     Nott'm Forest  19   8  11      65  58  46  12
8          Brighton  16  13   9      61  66  59   7
9       Bournemouth  15  11  12      56  58  46  12
10        Brentford  16   8  14      56  66  57   9
11           Fulham  15   9  14      54  54  54   0
12   Crystal Palace  13  14  11      53  51  51   0
13          Everton  11  15  12      48  42  44  -2
14         West Ham  11  10  17      43  46  62 -16
15       Man United  11   9  18      42  44  54 -10
16           Wolves  12   6  20      42  54  69 -15
17        Tottenham  11   5  22      38  64  65  -1
18        Leicester   6   7  25      25  33  80 -47
19          Ipswich   4  10  24      22  36  82 -46
20      Southampton   2   6  30      12  26  86 -60